<section class="flex pl-14 pr-14">
  <p class="clear-none text-xl">
    Es una entidad educativa oficial, creada en el año 1972 por la empresa
    Motovalle y por este motivo se la denominó inicialmente Escuela Motovalle.
    Posteriormente se le cambió el nombre a "Escuela Maricé Sinisterra" en honor
    a la líder y educadora Maricé Sinisterra quien fue asesinada por
    equivocación en una reunión comunitaria. En 1990, se unificó la Escuela
    Maricé Sinisterra con la Escuela La Solidaridad, conocida también con el
    nombre de Escuela San Juan de Dios.
    <br />
    <img
      src="https://4.bp.blogspot.com/-oekn0sQe2ZQ/UJ_LAv3s1uI/AAAAAAAAAj8/mITVBkzvvFA/s1600/historia+marice+sinisterra.PNG"
      alt="maricefoto"
      class="float-right h-64"
    />
    <br />
    En el año 1995, a partir de la unificación de la EscuelaMaricé Sinisterra y el
    colegio, se consolidó la Unidad Docente Maricé Sinisterra como una Institución
    Educativa de modalidad Industrial con los niveles de Preescolar, Básica Primaria
    y Secundaria. Igualmente, se realizó un acuerdo entre la sede donde funciona
    la Educación Básica Secundaria, con la Parroquia de la Natividad a través de
    la Arquidiócesis de Cali por un período de 20 años.
    <br />
    En junio 25 de 1999 se consolido la resolución de reconocimiento de estudio,
    reconociendo a la institución como un establecimiento de educación ante las entidades
    publicas y de gobernación. Esta Institución imparte programas actualizados en
    el área industrial y trabaja día a día por alcanzar la excelencia de los procesos
    académicos, en especial, el desarrollo del conocimiento, la investigación, el
    trabajo en equipo y la proyección social.
  </p>
</section>
