<section id="nosotros">
  <div class="relative z-0">
    <img
      src="https://www.cali.gov.co/educacion/publicaciones/149986/ninos-mas-felices-en-la-institucion-educativa-marice-sinisterra/info/principal/media/pubInt/thumbs/thpub_700X400_149986.jpg"
      alt="fgfdg"
      class="w-full"
    />
    <div class="absolute flex flex-col top-0 left-0 right-0 px-4 py-2 bg-gray-900/70 text-white h-full">
      <h1 class="text-3xl text-center font-bold p-5">¡Bienvenidos nuestra nueva web!</h1>
      <p class="text-2xl">
        La <strong>Institución Educativa Marice Sinisterra</strong> es un colegio técnico
        ubicado en el barrio El Rodeo, en Cali, Valle del Cauca. Este colegio se caracteriza
        por ofrecer una educación técnica y académica, lo que permite a los estudiantes
        adquirir habilidades prácticas y teóricas. El colegio cuenta con varias sedes
        y ofrece educación desde el nivel preescolar hasta la educación media, incluyendo
        programas para adultos.
      </p>
    </div>
  </div>
</section>
