---
import Title from "../../components/Utils/Title.astro";
import PeoplesIcon from "../../components/svg/PeoplesIcon.astro";
import IdentityIcon from "../../components/svg/IdentityIcon.astro";
import HospitalIcon from "../../components/svg/HospitalIcon.astro";
import ChatIcon from "../../components/svg/ChatIcon.astro";
---

<article class="flex flex-col items-center justify-center gap-3" id="objetives">
  <Title content="Objetivos" />
  <p class="text-center text-xl font-bold w-1/2">
    Diseñar estrategias pedagógicas que contribuyan el fortalecimiento de los
    valores morales y espirituales en el educando de manera integra
    promocionando estilos de vida saludable en comunidades educativas
  </p>
  <article
    class="flex gap-4 items-center w-1/2 bg-[#235edd] text-white p-4 border-2 border-solid border-[#1b52c7] rounded-lg"
    id="anim-article"
  >
    <PeoplesIcon />
    <p class="text-lg">
      Crear encuentros por grado y espacios de convivencias con propósito, que
      ayuden a identificar las causas que llevan a los jóvenes a violentarse en
      diferentes situaciones de la vida y en el entorno que a diario les rodea,
      donde se confronten y establezcan acuerdos para una sana convivencia.
    </p>
  </article>
  <article
    class="flex gap-3 items-center w-1/2 bg-[#235edd] text-white p-3 border-2 border-solid border-[#1b52c7] rounded-lg"
    id="anim-article2"
  >
    <IdentityIcon />
    <p class="text-lg">
      Identificar los factores de riesgo de la familia y el entorno en relación
      a los comportamientos en el consumo de SPA y la violencia contra la mujer.
    </p>
  </article>
  <article
    class="flex gap-3 items-center w-1/2 bg-[#235edd] text-white p-3 border-2 border-solid border-[#1b52c7] rounded-lg"
    id="anim-article3"
  >
    <HospitalIcon />
    <p class="text-lg">
      Potencializar los valores en los educandos frente al cuidado de la salud.
    </p>
  </article>
  <article
    class="flex gap-3 items-center w-1/2 bg-[#235edd] text-white p-3 border-2 border-solid border-[#1b52c7] rounded-lg"
    id="anim-article4"
  >
    <ChatIcon />
    <p class="text-lg">
      Sensibilizar la juventud orientándola a cuidar la salud mental y aún mejor
      vivir a través de charlas formativas, consejerías y talleres psicológicos
      dentro y fuera de la Institución.
    </p>
  </article>
</article>
<style>
  article > h1 {
    animation: revealing;
    animation-duration: 200ms;
  }
  .slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
<script>
  const observer = new IntersectionObserver((entries) => {
    // Recorrer las entradas recibidas
    entries.forEach((entry) => {
      // Está visible en el viewport
      if (entry.intersectionRatio > 0) {
        // entry.target es el elemento que se está observando
        // Agregar la clase para animar
        entry.target.classList.add("slide-in-left");
        // Dejar de observar
        observer.unobserve(entry.target);
      }
    });
  });
  // Observar elemento a animar
  const element = document.getElementById("anim-article");
  observer.observe(element as HTMLElement);

  const element2 = document.getElementById("anim-article2");
  observer.observe(element2 as HTMLElement);

  const element3 = document.getElementById("anim-article3");
  observer.observe(element3 as HTMLElement);

  const element4 = document.getElementById("anim-article4");
  observer.observe(element4 as HTMLElement);
</script>
