<section id="simbols">
  <h1 class="text-3xl text-center font-bold p-5 text-slate-900">Simbolos</h1>
  <article class="flex flex-wrap gap-2 items-center justify-center">
    <div class="flex flex-col gap-1 bg-[#235edd] p-5 rounded-lg items-center">
      <img
        src="https://3.bp.blogspot.com/-ihCERkP2E9M/UJ_K9YxwpcI/AAAAAAAAAjc/t_oMJ7JuT1Q/s1600/ESCUDO%252BMARICE%252BSINISTERRA%25281%2529.png"
        alt="srcs"
        class="h-44"
      />
      <span class="flex flex-col">
        <strong>Escudo del colegio</strong>
        <p class="w-80">
          El escudo esta diseñado en un piñón industrial y una circunferencia
          dentro del cual esta insertado el nombre de la institución. en el
          centro en la circunferencia se colocan las iniciales del nombre.
        </p>
      </span>
    </div>
    <div class="flex flex-col gap-1 bg-[#235edd] p-5 rounded-lg items-center">
      <img
        src="https://2.bp.blogspot.com/-f0q2VH09JAs/UJ_K_BipO6I/AAAAAAAAAjo/gJbbfD4Uqw0/s1600/bandera%252Bmarice%252Bsinisterra.png"
        alt="cd"
        class="h-44"
      />
      <span class="flex flex-col">
        <strong>Bandera de la institución</strong>
        <p class="w-80">
          Esta compuesta por 3 franjas horizontales de colores. aprobada según
          acta 035 de mayo del 2007.
          <br />
          <br />
          <strong>Tercera franja:</strong> azul oscuro, esta en la parte inferior,
          representa una fase inicial de el proceso concebido en tres faces.<br
          />
          <strong>Segunda franja:</strong> azul claro, significa el estado de evolución
          en el conocimiento terminando en la franja blanca.<br />
          <strong>Primera franja:</strong> blancaque indica pureza, espíritu limpio
          y la culminación del proceso de conocimiento.
        </p>
      </span>
    </div>
  </article>
</section>
