<section id="ubicacion">
  <h1 class="text-3xl text-center font-bold p-5">Ubicacion</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7965.300257644795!2d-76.503619!3d3.435033!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6fd773ac547%3A0xafbbbf271ad1a837!2sInstituci%C3%B3n%20Educativa%20Marice%20Sinisterra!5e0!3m2!1ses-419!2sus!4v1726091760740!5m2!1ses-419!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>