---
import Title from "../../components/Utils/Title.astro";
---

<section class="flex flex-col items-center justify-center p-3" id="contact">
  <Title content="¿Interesado?" />
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSfYqmjS3gcKfuCum-42BWT2OS7uKjFSA85vMSk2R9d96k8LEw/viewform?formkey=dHM5Si1pOFNyeFNKTFcxRXFfbDNJZFE6MQ"
    target="_blank"
    class="bg-[#2d70ff] border-2 border-solid border-[#1b52c7] hover:bg-[#1b52c7] hover:border-[#1b52c7] rounded-lg p-5 text-3xl text-center font-bold text-white transition-all"
  >
    ¡Consulta aqui!
  </a>
</section>
