---
import Title from "../../components/Utils/Title.astro";
---

<article class="flex flex-col gap-5 items-center" id="mision-y-vision">
  <Title content="Misión y Visión" />
  <h2 class="text-2xl font-semibold">Misión</h2>
  <p class="w-1/2 text-2xl">
    La institución educativa industrial marice sinisterra, de naturaleza
    industrial y carácter mixto orienta un proceso formativo integral y
    desarrolla valores en los niveles de educación formal: preescolar, básica y
    media con énfasis técnico industrial y educación de adultos de acuerdo con
    las exigencias tecnológicas ambienta listas y el desarrollo de competencias
    desde el ser, saber, saber hacer, saber convivir y saber emprender.
  </p>
  <h2 class="text-2xl font-semibold">Visión</h2>
  <p class="w-1/2 text-2xl">
    La institución educativa industrial marice sinisterra se reconocerá al 2016
    como una escuela con programas actualizados en el nivel técnico y
    tecnológico, comprometida con el desarrollo integral del hombre, la mujer y
    la sociedad conservando la excelencia de los procesos académicos y los
    valores; en especial, el desarrollo del conocimiento, la investigación, el
    trabajo en equipo, proyección social y ciudadano y preservación del
    ambiente.
  </p>
</article>
<style>
  .puff-in-center {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      both;
    animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }
  @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
</style>
<script>
  const observer = new IntersectionObserver((entries) => {
    // Recorrer las entradas recibidas
    entries.forEach((entry) => {
      // Está visible en el viewport
      if (entry.intersectionRatio > 0) {
        // entry.target es el elemento que se está observando
        // Agregar la clase para animar
        entry.target.classList.add("puff-in-center");
        // Dejar de observar
        observer.unobserve(entry.target);
      }
    });
  });
  // Observar elemento a animar
  const element = document.getElementById("mision-y-vision");
  observer.observe(element as HTMLElement);
</script>
