---
import Title from "../../components/Utils/Title.astro";
---

<section class="flex flex-col gap-2 items-center" id="principios">
  <Title content="Principios" />
  <p class="w-1/2 text-xl">
    La educación continuamente debe potenciar valores que tienen que ver
    directamente con la formación de un ser integro y así obtener la formación
    de un buen Padre, un buen hijo, un buen estudiante, un buen amigo y por
    consiguiente un buen ciudadano: la tolerancia, el respeto a las diferencias,
    la igualdad, la solidaridad, la convivencia y los valores democráticos son
    el paradigma fundamental de la educación en valores, es el ser humano, un
    ser integro, que contiene (cuerpo, alma y espíritu)que participen
    activamente en la construcción de un mundo más solidario, más tolerante, más
    saludable, más crítico y más temeroso de Dios, más respetuoso con el medio
    ambiente.
  </p>
  <article class="flex flex-wrap items-center">
    <img
      src="https://3.bp.blogspot.com/-wm_PypO3xrY/UJ_LDY9zWAI/AAAAAAAAAkc/m9X0j3PIQho/s1600/principios.jpg"
      alt="principio"
    />
    <p class="w-72">
      “Instruye al niño en su camino, y aun cuando fuere viejo no se apartará de
      él”
    </p>
  </article>
  <p class="w-1/2">
    El compromiso indeclinable con el ejercicio de los derechos humanos, le
    democracia, la protección del medio ambiente y la convivencia pacifica.<br/><br/>
    El compromiso indeclinable con el ejercicio de los derechos humanos, la
    democracia, la protección del medio ambiente y la convivencia pacifica.<br/><br/>
    El compromiso indeclinable con la oferta de una educación de calidad que
    permita la formación de niñ@s y jóvenes autónomos, responsables,
    comprometidos con su aprendizaje y superación permanente.<br/><br/>
    La evaluación y auto-evaluación sistemáticas de los programas y la propuesta, seguimiento y
    evaluación de planes de mejoramiento que permitan afianzar y alcanzar la
    cultura de calidad.<br/><br/>
    Brindar una educación contextualizada a las necesidades
    de los estudiantes, que aporte alternativas de solución a los problemas mas
    relevantes de sus comunidades.
  </p>
</section>
