<footer class="flex items-center justify-center w-auto bg-[#2d70ff] h-24">
  <img src="https://www.cali.gov.co/educacion/info/principal/media/bloque210342.png" alt="logocali" width="85" height="85">
  <ul class="text-center">
    <p>© I.E Marice sinisterra - Todos los derechos reservados</p>
    <p>Departamento: Valle del cauca - Cali</p>
    <p>Ubicacion: CALLE 40 #25A-20</p>
    <p class="text-xs">Propuesta desarrollada por <a href="https://linkedin.com/in/juan-david-castro-y" target="_blank">Juan David Castro</a></p>
  </ul>
</footer>
