<header class="flex full h-20 bg-[#2d70ff] items-center text-slate-950 z-10" id="inicio">
  <div class="flex flex-1 p-5 items-center gap-2 text-2xl">
    <img src="../../../public/assets/ESCUDO_MARICE_SINISTERRA.png" alt="atr" class="h-16">
    <h2>Marice sinisterra</h2>
  </div>
  <ul class="flex md:flex-wrap gap-4 items-center p-5">
    <li><a href="#">Inicio</a></li>
    <li class="group relative">
      <a href="#">Institución</a>
      <ul class="absolute hidden group-hover:block bg-[#6695fc] w-32 rounded-md">
        <li class="hover:bg-[#235edd] p-1 rounded-t-md"><a href="#simbols">Simbolos</a></li>
        <li class="hover:bg-[#235edd] p-1"><a href="#historia">Historia</a></li>
        <li class="hover:bg-[#235edd] p-1"><a href="#ubicacion">Ubicacion</a></li>
        <li class="hover:bg-[#235edd] p-1"><a href="#objetives">Objetivos</a></li>
        <li class="hover:bg-[#235edd] p-1"><a href="#mision-y-vision">Vision y mision</a></li>
        <li class="hover:bg-[#235edd] p-1 rounded-b-md"><a href="#principios">Principios</a></li>
      </ul>
    </li>
    <li class="group relative">
      <a href="#">Consultas</a>
      <ul class="absolute hidden group-hover:block bg-[#6695fc] w-32 rounded-md right-4">
        <li class="hover:bg-[#235edd] p-1 rounded-t-md"><a href="#">Boletines</a></li>
        <li class="hover:bg-[#235edd] p-1 rounded-b-md"><a href="#contact">Contacto</a></li>
      </ul>
    </li>
  </ul>
</header>