---
import Layout from "../layouts/Layout.astro";
import Especials from "../sections/home/especials.astro";
import History from "../sections/home/history.astro";
import Info from "../sections/home/info.astro";
import Objetives from "../sections/home/objetives.astro";
import Simbols from "../sections/home/simbols.astro";
import Ubication from "../sections/home/ubication.astro";
import Contact from "../sections/info/contact.astro";
import MisionAndVision from "../sections/info/misionAndVision.astro";
import Principios from "../sections/info/principios.astro";
---

<Layout title="Institucion educativa Marice sinisterra">
  <Info />
  <h1 class="text-3xl text-center font-bold p-5 text-slate-900" id="historia">Historia</h1>
  <History />
  <Simbols />
  <Objetives />
  <MisionAndVision />
  <Principios />
  <h1 class="text-3xl text-center font-bold p-5 text-slate-900">Especializaciones</h1>
  <p class="text-center">Estas son las especialidades que brindamos en nuestra institucion educativa</p>
  <Especials />
  <Contact />
  <Ubication />
</Layout>
